<h2>Create a New Author</h2>

<form method="POST" action="/authors">    

	<div class="form-group">
		<label for="name"> Name: </label>
		<input type="text" name="name" placeholder="What is your full name?" class="form-control" required>
	</div>

	<div class="form-group">
		<label for="name">Profile Image:</label>
		<input type="url" name="image" placeholder="A nice pic of you~!" class="form-control" required>
	</div>

	<div class="form-group">
		<label for="name">Bio:</label>
		<textarea name="bio" class="form-control"></textarea>
	</div>

	<input type="submit" value="Register Author" class="btn btn-success">


</form>